version: 2
updates:
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "monthly"
      prefix: "build(deps/ci)"
    - package-ecosystem: "cargo"
      directory: "/"
      schedule:
          interval: "monthly"
