version: 2
updates:
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "monthly"
      commit-message:
        prefix: "ci(deps)"
    - package-ecosystem: "cargo"
      directory: "/"
      schedule:
          interval: "monthly"
